
<div *ngIf="orderEntity" class="mb-4">
    <h2><span jhiTranslate="storageManagementApp.orderEntity.detail.title">Order Entity</span> {{orderEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storageManagementApp.orderEntity.createDate">Create Date</span></dt>
        <dd>
            <span>{{orderEntity.createDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="storageManagementApp.orderEntity.paymentDate">Payment Date</span></dt>
        <dd>
            <span>{{orderEntity.paymentDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="storageManagementApp.orderEntity.dueDate">Due Date</span></dt>
        <dd>
            <span>{{orderEntity.dueDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="storageManagementApp.orderEntity.status">Status</span></dt>
        <dd>
            <div *ngIf="orderEntity.statusId">
                <a [routerLink]="['/status', orderEntity.statusId]">{{orderEntity.statusId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *ngIf="!isFinalized()" type="button"
            [routerLink]="['/', { outlets: { popup: 'order-entity/'+ orderEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>

<jhi-order-item class="mt-3" [orderEntity]="orderEntity"></jhi-order-item>
