<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderEntityLabel" jhiTranslate="storageManagementApp.orderEntity.home.createOrEditLabel">Create or edit a Order Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!orderEntity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="orderEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storageManagementApp.orderEntity.createDate" for="field_createDate">Create Date</label>
            <div class="input-group">
                <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker  #createDateDp="ngbDatepicker" [(ngModel)]="orderEntity.createDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createDate?.dirty && editForm.controls.createDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storageManagementApp.orderEntity.paymentDate" for="field_paymentDate">Payment Date</label>
            <div class="input-group">
                <input id="field_paymentDate" type="text" class="form-control" name="paymentDate" ngbDatepicker  #paymentDateDp="ngbDatepicker" [(ngModel)]="orderEntity.paymentDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storageManagementApp.orderEntity.dueDate" for="field_dueDate">Due Date</label>
            <div class="input-group">
                <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker  #dueDateDp="ngbDatepicker" [(ngModel)]="orderEntity.dueDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storageManagementApp.orderEntity.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="orderEntity.statusId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="statusOption.id" *ngFor="let statusOption of statuses; trackBy: trackStatusById">{{statusOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
