
<div *ngIf="orderItem">
    <h2><span jhiTranslate="storageManagementApp.orderItem.detail.title">Order Item</span> {{orderItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storageManagementApp.orderItem.quantity">Quantity</span></dt>
        <dd>
            <span>{{orderItem.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="storageManagementApp.orderItem.orderEntity">Order Entity</span></dt>
        <dd>
            <div *ngIf="orderItem.orderEntityId">
                <a [routerLink]="['/order-entity', orderItem.orderEntityId]">{{orderItem.orderEntityId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storageManagementApp.orderItem.product">Product</span></dt>
        <dd>
            <div *ngIf="orderItem.productId">
                <a [routerLink]="['/product', orderItem.productId]">{{orderItem.productId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="storageManagementApp.orderItem.status">Status</span></dt>
        <dd>
            <div *ngIf="orderItem.statusId">
                <a [routerLink]="['/status', orderItem.statusId]">{{orderItem.statusId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-item/'+ orderItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
